/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			prosilver (the default phpBB 3.1.x style)
	Based on style:		
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		phpBB Limited ( https://www.phpbb.com/ )
    --------------------------------------------------------------
*/

@import url("../../prosilver/theme/common.css");
@import url("../../prosilver/theme/links.css");
@import url("../../prosilver/theme/content.css");
@import url("../../prosilver/theme/buttons.css");
@import url("../../prosilver/theme/cp.css");
@import url("../../prosilver/theme/forms.css");
@import url("colours.css");
@import url("imageset.css");
@import url("removeborderradius.css");

/* Harrin omat on säädöt tässä joo 
   Nää tarviis animaatioo?
.topic_unread                                                   
.topic_unread_mine                                              
.topic_unread_hot                                               
.topic_unread_hot_mine                                         
.topic_unread_locked                                           
.topic_unread_locked_mine  
*/
@keyframes pulse {
    0%   {background-size: 30px 28px; background-position: 10px;}
    25% {background-size: 27px 28px; background-position: 11.5px;}
    50% {background-size: 30px 28px; background-position: 10px;}
    75% {background-size: 35px 28px; background-position: 7.5px;}
    100% {background-size: 30px 28px; background-position: 10px;} 
}
@keyframes roll {
    0%   {background-position: 10px -40px;}
    25%   {background-position: 10px 50%;}
    75%   {background-position: 10px 50%;}
    100%   {background-position: 10px 80px;}
}
.topic_unread_hot {
    background-size initial;
    background-origin: content-box;
    animation-name: roll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.topic_unread_hot_mine {
    background-size initial;
    background-origin: content-box;
    animation-name: roll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.topic_read_hot {
    background-size initial;
    background-origin: content-box;
    animation-name: roll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.topic_read_hot_mine {
    background-size initial;
    background-origin: content-box;
    animation-name: roll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/*
.topic_read_hot {
    background-size initial;
    background-origin: content-box;
    animation-name: example2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.topic_read_hot_mine {
    background-size initial;
    background-origin: content-box;
    animation-name: example2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.forum_unread{
    position: relative;
}
.forum_unread:before {
    content: "";
    background: url(./images/unread.png) no-repeat;
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 28px;
    top: 50%;
    left: 10px;
    animation-name: example3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
} */
