
@import url("../../Etyyli.White/theme/stylesheet.css");

/* Omat on säädöt tässä joo */

html{
    background: #000000 url("./images/bg_stripe_green.png") repeat;
	-webkit-filter: hue-rotate(250deg) saturate(120%); 
	-moz-filter: hue-rotate(250deg) saturate(120%); 
  	-ms-filter: hue-rotate(250deg) saturate(120%);
  	filter: hue-rotate(250deg) saturate(120%);
}
img {
	-webkit-filter: hue-rotate(-250deg) saturate(100%);
	-moz-filter: hue-rotate(-250deg) saturate(100%);
  	-ms-filter: hue-rotate(-250deg) saturate(100%);
  	filter: hue-rotate(-250deg) saturate(100%);
}
img#mChatLoadIMG {
	-webkit-filter: hue-rotate(250deg) saturate(50%) sepia(0%);
	-moz-filter: hue-rotate(250deg) saturate(50%) sepia(0%); 
  	-ms-filter:  hue-rotate(250deg) saturate(50%) sepia(0%);
  	filter:  hue-rotate(250deg) saturate(50%) sepia(0%);
}
#wrap {
    background: #aaaaff;
}
